.User {
    .Login,.Signup {
        width: 45%;
        margin: auto;
        h2{
            color: black;
        }
        form{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            &>.inputContainer{
                width: 50%;
                position: relative;
                padding: 5px;
            }   
            .l{
                flex: 1;
            }
            &>button{
                width: 50%;
                background: transparent;
                border-radius: 8px;
                margin: 5px;
            }
        }
    }
    .Login{
        
        &>form .inputContainer{
            width: 100% !important;
        }
    }
}


.formInput{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 2px solid lightgrey;
    border-radius: 8px;
    outline: 0;
    box-sizing: border-box;
    &:focus{
        border-color: #1d8cff;
    }
    &:focus ~.formLabel,
    &:not(:placeholder-shown).formInput:not(:focus) ~.formLabel{
        top: -0.3rem;
        font-size:0.8rem;
        left: 1rem;
        color: #0A80FA;
    }
}

.formLabel{
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color:#65bdf8 ;
}

input.fieldError{
  border-color: red;
  outline-color: red;
}

div.fieldError{
    color: red;
    font-size: smaller;
}

.businessContainer{
    width: 100%;
    text-align: start;
    margin: 10px 0;
}

.cancelButton{
    border-color: red;
}
.refreshButton{
    border-color: #1d8cff;
    flex: 1;
}
.submitButton{    
    background: #77889966 !important;
    width: 100% !important;
    height: 37px;
}
.profile>span{
    display: flex;
    align-items: center;
}