header{
    width: 100%;
    background-color: rgb(31, 129, 185);
    height: 50px;
    display: flex;
    direction: rtl;
    color: white;
}

.userSide{
    width: 50%;
    display: flex;
    align-items: center;
}

.dataSide{
    width: 50%;
    direction: ltr;
    display: flex;
    align-items: center;
}

.dataSide>h2, .dataSide>h4{
    display: inline-block;
    margin: 10px;
}

.headerButton{
    height: 90%;
    background-color: #1f81b9;
    color: white;
    border: none;
    border-radius: 10px;
}

.headerButton:hover{
    background-color: #2F9DDC;
    transition: 300ms;
    cursor: pointer;
}

svg{
    height: 2em;
    width: 2em;
}

.iii{
    transform: translateY(20px);
}

.dayButton{
    transition: 500ms;
    scale: 2;
}

.userIcon{
    height: 50px;
    width: 50px;
}

body{
    height: max-content;
    background-color: #65bdf8;
    color: white;
}

.siteContainer{
    max-width: 700px;
    width: 77%;
    margin: auto;
    border: #34A8F6 3px solid;
}

.devider{
    height: 5px;
    background-color:lightgray;
    width: 95%;
    margin: auto;
    border-radius: 10px;
}

