header{
    width: 100%;
    background-color: rgb(31, 129, 185);
    height: 50px;
    display: flex;
    direction: rtl;
    color: white;
}

svg{
    height: 2em;
    width: 2em;
    transition: transform 500ms;
}

.iii{
    transform: translateY(2em);
}

.dayButton{
    transition: 500ms;
    scale: 2;
}

.userIcon{
    height: 50px;
    width: 50px;
}

body{
    height: max-content;
    background-color: #65bdf8;
    color: white;
    text-align: center;
}

.siteContainer{
    max-width: 1170px;
    width: 77%;
    margin: auto;
    border: #34A8F6 3px solid;
}

.devider{
    height: 5px;
    background-color:lightgray;
    width: 95%;
    margin: auto;
    border-radius: 10px;
}